[submodule "koka-docs"]
	path = koka-docs
	url = git@github.com:koka-community/koka-docs
	branch = main
[submodule "community-docs"]
	path = community-docs
	url = git@github.com:koka-community/community-docs
	branch = main
[submodule "std"]
	path = std
	url = git@github.com:koka-community/std
	branch = main
[submodule "template"]
	path = template
	url = git@github.com:koka-community/template
	branch = main
[submodule "parsing"]
	path = parsing
	url = git@github.com:koka-community/parsing
	branch = main
[submodule "madoko"]
	path = madoko
	url = git@github.com:koka-community/madoko
  branch = main
	shallow = true
[submodule "alex"]
	path = alex
	url = git@github.com:koka-community/alex
	branch = main
	shallow = true
[submodule "native"]
	path = native
	url = git@github.com:koka-community/native
	branch = main
	shallow = true
[submodule "web"]
	path = web
	url = git@github.com:koka-community/web
	branch = main
[submodule "llhttp"]
	path = llhttp
	url = git@github.com:koka-community/llhttp.git
	branch = main
	shallow = true
[submodule "mbedtls"]
	path = mbedtls
	url = git@github.com:koka-community/mbedtls.git
	branch = main
	shallow = true
[submodule "zlib"]
	path = zlib
	url = git@github.com:koka-community/zlib.git
	branch = main
	shallow = true
[submodule "math"]
	path = math
	url = git@github.com:koka-community/math.git
	branch = main
	shallow = true
[submodule "diplomat"]
	path = diplomat
	url = git@github.com:koka-community/diplomat.git
	branch = main
	shallow = true
[submodule "icu4x"]
	path = icu4x
	url = git@github.com:koka-community/icu4x.git
	branch = main
	shallow = true
[submodule "html"]
	path = html
	url = git@github.com:koka-community/html
	branch = main
[submodule "benchmarks-game"]
	path = benchmarks-game
	url = git@github.com:koka-community/benchmarks-game.git
	branch = main
[submodule "rosetta"]
	path = rosetta
	url = git@github.com:koka-community/rosetta.git
	branch = main
[submodule "samples"]
	path = samples
	url = git@github.com:koka-community/samples.git
	branch = main
[submodule "compiler"]
	path = compiler
	url = git@github.com:koka-community/compiler.git
	branch = main
[submodule "nodejs-net"]
	path = nodejs-net
	url = git@github.com:koka-community/nodejs-net.git
	branch = main
[submodule "kokac"]
	path = kokaw
	url = git@github.com:koka-community/kokac
	branch = main
[submodule "reactives"]
	path = reactives
	url = git@github.com:koka-community/reactives.git
	branch = main
[submodule "uv"]
	path = uv
	url = git@github.com:koka-community/uv.git
	branch = main
[submodule "ui"]
	path = ui
	url = git@github.com:koka-community/ui
	branch = main
[submodule "setup-koka"]
	path = setup-koka
	url = git@github.com:koka-community/setup-koka
[submodule "tree-sitter"]
	path = tree-sitter
	url = git@github.com:koka-community/tree-sitter
