[submodule "koka-docs"]
	path = koka-docs
	url = git@github.com:koka-community/koka-docs
	branch = main
[submodule "community-docs"]
	path = community-docs
	url = git@github.com:koka-community/community-docs
	branch = main
[submodule "std"]
	path = std
	url = git@github.com:koka-community/std
	branch = main
[submodule "template"]
	path = template
	url = git@github.com:koka-community/template
	branch = main
[submodule "parsing"]
	path = parsing
	url = git@github.com:koka-community/parsing
	branch = main
[submodule "madoko"]
	path = madoko
	url = git@github.com:koka-community/madoko
  branch = main
[submodule "alex"]
	path = alex
	url = git@github.com:koka-community/alex
	branch = main
	shallow = true
[submodule "native"]
	path = native
	url = git@github.com:koka-community/native
	branch = main
	shallow = true
[submodule "web"]
	path = web
	url = git@github.com:koka-community/web
	branch = main
	shallow = true
[submodule "llhttp"]
	path = llhttp
	url = git@github.com:koka-community/llhttp.git
	branch = main
	shallow = true
