[submodule "koka-docs"]
	path = koka-docs
	url = git@github.com:koka-community/koka-docs
	branch = main
	shallow = true
[submodule "community-docs"]
	path = community-docs
	url = git@github.com:koka-community/community-docs
	branch = main
	shallow = true
[submodule "std"]
	path = std
	url = git@github.com:koka-community/std
	branch = main
	shallow = true
[submodule "template"]
	path = template
	url = git@github.com:koka-community/template
	branch = main
	shallow = true
[submodule "parsing"]
	path = parsing
	url = git@github.com:koka-community/parsing
	branch = main
	shallow = true
[submodule "madoko"]
	path = madoko
	url = git@github.com:koka-community/madoko
  branch = main
	shallow = true
[submodule "alex"]
	path = alex
	url = git@github.com:koka-community/alex
	branch = main
	shallow = true
[submodule "native"]
	path = native
	url = git@github.com:koka-community/native
	branch = main
	shallow = true
[submodule "web"]
	path = web
	url = git@github.com:koka-community/web
	branch = main
	shallow = true
[submodule "llhttp"]
	path = llhttp
	url = git@github.com:koka-community/llhttp.git
	branch = main
	shallow = true
[submodule "mbedtls"]
	path = mbedtls
	url = git@github.com:koka-community/mbedtls.git
	branch = main
	shallow = true
[submodule "zlib"]
	path = zlib
	url = git@github.com:koka-community/zlib.git
	branch = main
	shallow = true
[submodule "math"]
	path = math
	url = git@github.com:koka-community/math.git
	branch = main
	shallow = true
[submodule "diplomat"]
	path = diplomat
	url = git@github.com:koka-community/diplomat.git
	branch = main
	shallow = true
[submodule "icu4x"]
	path = icu4x
	url = git@github.com:koka-community/icu4x.git
	branch = main
	shallow = true
[submodule "html"]
	path = html
	url = git@github.com:koka-community/html
	branch = main
[submodule "benchmarks-game"]
	path = benchmarks-game
	url = git@github.com:koka-community/benchmarks-game.git
	branch = main
[submodule "rosetta"]
	path = rosetta
	url = git@github.com:koka-community/rosetta.git
	branch = main
[submodule "samples"]
	path = samples
	url = git@github.com:koka-community/samples.git
	branch = main
